<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>NAND Gate</title>
</head>

<body>
  <h2>NAND Gate, made with Keras, Tensorflow</h2>

  <form method='post'>
    <label for='num-one'>Age: </label>
    <input id='num-one' type='number' name='num-one' placeholder='First number' />

    </br>

    <label for='num-two'>Income: </label>
    <input id='num-two' type='number' name='num-two' placeholder='Second number' />

    </br>

    <input type='submit' />
  </form>

  <h3>The result is {{ result }}</h3>
</body>

</html>